page-signup {

    .wrap {
        text-align: center;
    }
    
    .button {
        position: absolute;
        left: 40%;
        top: 30%;
    }

    .option{
        position: absolute;
        left: 40%;
        top: 40%;
    }

}
